name: shoptok
description: Une application combinant TikTok et Shopify pour la vente et la promotion de produits.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  firebase_core: ^3.5.0
  cloud_firestore: ^5.4.4
  firebase_auth: ^5.3.1
  image_picker: ^1.1.1
  video_player: ^2.8.6
  like_button: ^2.0.5
  flutter_svg: ^2.0.10
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/videos/
    
